body{
    background-color: #eeeeee;
    margin-top: 65px;
}


nav a{
    color: white;
}


.comment-toggle{
    color: seagreen;
}

.view-more-comments{
    font-size: 12px;
    color: cornflowerblue;
}

#logo{
    width: 150px;
    height: 50px;
}

#searchBox{
    width: 400px;
}

.sticky-top-custom{
    position: sticky;
    top: 60px;
    z-index: 1030;
}

#left-side-pane{
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    background-color: #fff;
    padding: 10px;
}

#left-side-pane img{
    width: 100px;
    height: 100px;
}

#left-side-pane li{
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

#right-side-pane{
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    background-color: #fff;
    padding:10px;
}

.question{
      padding: 10px;
      background-color: #fff;
      border-radius: 2px 2px;
}

.question-area{
 box-shadow: 0 0 0 1px rgba(0,0,0,.1);
     margin-bottom: 15px;
     border: 1px solid rgba(0,0,0,.3);
}

.anchor{
    font-size: 11px;
    color:cornflowerblue;
    cursor: pointer;
    display: inline-block;
    font-family: 'Cairo', sans-serif;
}

.anchor:hover{
    font-size: 11px;
    color: cornflowerblue;
    text-decoration: underline;
}

.user-title{
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

.user-title > a{
    color: black;
}
.q-side-text{
    font-size: 11px;
    font-family: 'Cairo', sans-serif;
    color: black;
}

.q-title{
   margin-top:15px;
}

.input-group-addon{
    padding:8px;
}

.option > input[type=button]{
    padding: 6px;
    cursor: pointer;
}


.input-group-addon:hover{
    background-color:rgba(92, 184, 92, 0.64);
    color: white;
}


.count{
    font-weight: bold;
    font-family: cursive;
    /* font-size: 70%; */
    color: #292b2c;
    font-size: 12px;
    padding: 2px;
}

.comment-area{
   /*  margin: 0px;
     font-size: 13px;
     padding-top: 10px;
     border-top: 1px solid rgba(0,0,0,.3);
*/
    margin: 0px;
    font-size: 13px;
    padding: 12px;
    background-color: rgba(92, 184, 92, 0.09);
}

.carousel-inner{
    display: none;
}

.comment-thumnbnail-img{
    width:30px;
    height: 30px;
}

.media{
    padding-top: 10px;
}
.comment-text-area{
    padding-right:10px; 
    line-height: 1.4em;
}

.option{
    display: inline-flex;
    width: auto; 
    cursor: pointer;
    margin-right: 15px;
}

.option:hover{
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    
}

.description{
        padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.thumnbnail-img{
    width: 40px;
    height: 40px;
}

/* Login Page Css */