body{
    background-color: #eeeeee;
    margin-top: 60px;
}


#logo{
    width: 150px;
    height: 50px;
}

#searchBox{
    width: 300px;
}

#left-side-pane{
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    background-color: #fff;
    padding: 10px;
}

#searchBox{
    width: 400px;
}

.sticky-top-custom{
    position: sticky;
    top: 60px;
    z-index: 1030;
}

#left-side-pane img{
    width: 100px;
    height: 100px;
}

#left-side-pane li{
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

.question{
      box-shadow: 0 0 0 1px rgba(0,0,0,.1);
      padding: 10px;
      background-color: #fff;
      margin-bottom:10px;
      border-radius: 2px 2px;
}

.thumnbnail-img{
    width: 30px;
    height: 30px;
}

#tester {
   
    height: 200px;
    width: 100px;
    background: red;
}